:root{
    --primary-color: #436436;
    --secondary-color: #D6F599;
    --accent1-color: #D2FF28;
    --accent2-color: #C84C09;
    --heading-font: 'Montserrat', serif;
    --paragraph-font: 'calibri', serif;
    --nav-background-color: #4f5253;
    --nav-link-color: #040405;
    --nav-hover-link-color: #ECC30B;
    --nav-hover-background-color: #732407;
}

header{
    font-family: var(--heading-font);
    padding: 10px;
    margin: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);

}

header img{
    padding: 0 100px;
}

nav{
    padding: 30px;
}

header a{
    text-decoration: none;
    color: var(--paragraph-font);
    font-weight: bold;
    font-size: 25px;
    padding: 10px ;
    background-color: #fff;
}

.hero{
    position: relative;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
    float: right;
    position: relative;
}

.hero h1{
    position: absolute;
    background-color: var(--nav-link-color);
    width: 100%;    
    text-align: center;
    opacity: 0.68;
    top: 50px;
    color: #fff;
    height: auto;
} 

/*main*/

main{
    text-align: center;
}

.rapids{
    border: thin #c0c0c0 solid;
}

.rapids img{
    width: 100%;
}

section{
    bottom: 10px;
    text-align: center;
}


article{
    position: absolute;
    opacity: 0.69;
    background-color: var(--nav-background-color);
    width: 20%;
    height: auto;
    top: 300px;
    padding: 0 300px;
    margin: 0 80px;
    justify-content: space-around;
    display: flex;
    flex-flow: row-reverse;
}

article p{
    
    font-size: 16px;
}

article img{
    margin: 0 200px;
}

section{
    border: 1px solid;
    margin: 15px;
}

footer{
    display: flex;
    align-items: center;
    background-color: var(--nav-background-color);
    text-align: center;
    padding: 20px;
    margin: 0 5px;
}


footer nav{
    padding: 10px;
}

footer h4 a{
    padding: 15px;
    margin: 0 10px;
    text-decoration: none;
    font-size: 2rem;
    color: #040405;
    background-color: #bb2020;
    border-radius: 2px;
}

footer img{
    width: 20%;
}
/*
.sociallinks{
    width: 1.6%;
}
*/

h2{
    color: var(--nav-link-color);
}

figure{
    display: flex;
    border: thin #c0c0c0 solid;
    display: inline-block;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

figure img {
    max-width: 220px;
    max-height: 108px;
}
  
figcaption{
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}



table, td, tr, th{
    border: 1px solid #0a0a0a;
    border-collapse:collapse;
    
  }
  thead{
    color: #fff;
  }
  thead{
    color: #0a0a0a;
  }

  th, td {
    padding: 0.5rem;
  }
  
  thead, tfoot {
    background-color: #c21212;
    color: #fff;
  }