@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

:root{
    --primary-color: #436436;
    --secondary-color: #D6F599;
    --accent1-color: #D2FF28;
    --accent2-color: #C84C09;
    --heading-font: 'Montserrat', serif;
    --paragraph-font: 'calibri', serif;
    --nav-background-color: #4f5253;
    --nav-link-color: #040405;
    --nav-hover-link-color: #ECC30B;
    --nav-hover-background-color: #732407;
}

header{
    font-family: var(--heading-font);
    padding: 10px;
    margin: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);

}

header img{
    padding: 0 100px;
}

nav{
    padding: 70px;
}

header a{
    text-decoration: none;
    color: var(--paragraph-font);
    font-weight: bold;
    font-size: 25px;
    padding: 10px ;
    background-color: #fff;
}

header a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--accent2-color);
}

.hero{
    position: relative;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
    float: right;
    position: relative;
}

.hero h1{
    position: absolute;
    background-color: var(--nav-link-color);
    width: 100%;    
    text-align: center;
    opacity: 0.68;
    top: 50px;
    color: #fff;
    height: auto;
} 

section{
    bottom: 10px;
    text-align: center;
}


article{
    position: absolute;
    top: 100px;
    opacity: 0.69;
    background-color: var(--nav-background-color);
    width: 20%;
    height: 360px;
    top: 350px;
    padding: 0 470px;
    margin: 0 60px;
    display: block;
    text-align: center;
}

article p{
    float: left;
    padding: 10px;
    color: #fff;
}

section{
    border: 1px solid;
    margin: 15px;
}

footer{
    display: flex;
    align-items: center;
    background-color: var(--nav-background-color);
    text-align: center;
    padding: 20px;
    margin: 0 5px;
    position: absolute;

}

footer p{
    color: #fff;   
}

footer nav{
    padding: 10px;
}

footer a{
    padding: 15px;
    margin: 0 10px;
}

footer img{
    width: 5%;
}
/*
.sociallinks{
    width: 1.6%;
}
*/

h2{
    color: var(--nav-link-color);
}

figure{
    display: flex;
    border: thin #c0c0c0 solid;
    display: inline-block;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

figure img {
    max-width: 220px;
    max-height: 150px;
}
  
figcaption{
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}