:root {
    --primary-color: #202d1a;
    --secondary-color: #D6F599;
    --accent1-color: #D2FF28;
    --accent2-color: #C84C09;
  
    --heading-font: 'Roboto', serif;
    --paragraph-font: 'calibri', serif;
  
    --nav-background-color: #B0DFFD;
    --nav-link-color: #0E242F;
    --nav-hover-link-color: #ECC30B;
    --nav-hover-background-color: #732407;
  }

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 5px;
  }

h1, h2, h3, h4, h5, h6, label{
    font-family: var(--heading-font);
    color: var(--primary-color);
  }

header{
  font-family: var(--heading-font);
  padding: 10px;
  margin: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  }

  header h1{
    color: #fff;
  }
header p{
    color: #fff;
  }
p {
    padding: 15px;
  }

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
  }

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1.5rem;
  }

nav a:link, nav a:visited {
  color: var(--nav-link-color);
  }

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
  }

  /*Caption*/

  figure{
    display: flex;
    border: thin #c0c0c0 solid;
    display: inline-block;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

figure img {
    max-width: 220px;
    max-height: 108px;
}
  
figcaption{
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

  /*Footer*/
footer{
    display: flex;
    align-items: center;
    background-color: var(--nav-background-color);
    text-align: center;
    padding: 20px;
    margin: 0 5px;
}

footer nav{
  padding: 10px;
}

footer a{
  padding: 15px;
  margin: 0 10px;
}

footer img{
  width: 20%;
}
  /*Contact us style*/

  .contact{
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #b6b6b6;
    display: grid;

}

form{
    
    padding: 10px;
    border-radius: 0.5rem;
    background-color: #b6b6b6;
    display: grid;

}

.details{
  background-color: #b6b6b6;
  padding: 2rem;
}

.details a{
  text-decoration: none;
  font-size: 2rem;
  color: #000;
  background-color: yellow;
  
}

.details a:hover{
  color: red;
}

input[type ="text"], input[type ="email"], select, textarea, button{

    margin: 1rem 10.2rem;
    padding: .75rem;
    font-size: 1.2rem;
    width: 37rem;
}

label{
    margin: 0 10.5rem;
}

input[type = "radio"]{
    padding: 1rem;
}

span{
    padding: 1rem 24rem;
    font-size: 1.1rem;
}

input[type = "checkbox"]{
    margin: 1rem;
}

button{
    width: 39rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
}

button:hover{
    background-color: darkgreen;
}