@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&subset=cyrillic');
:root {
    --primary-color: #436436;
    --secondary-color: #D6F599;
    --accent1-color: #D2FF28;
    --accent2-color: #C84C09;
  
    --heading-font: 'Roboto', serif;
    --paragraph-font: 'calibri', serif;
  
    --nav-background-color: #B0DFFD;
    --nav-link-color: #0E242F;
    --nav-hover-link-color: #ECC30B;
    --nav-hover-background-color: #732407;
  }

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 5px;
  }

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }

header {
  padding: 5px;
  background-color: var(--accent1-color);
  }

p {
    padding: 15px;
  }

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
  }

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1.5rem;
  }

nav a:link, nav a:visited {
  color: var(--nav-link-color);
  }

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
  }